
## Import dependencies

In [1]:
import pandas as pd

### Read the Dataset

In [2]:
gas_prices_brazil_df = pd.read_csv('https://drive.google.com/uc?id=1-_v5e0f76s1vGnRV-wA4s2s2XYeijz7v', sep='\t')

### Total Columns and Lines

In [3]:
gas_prices_brazil_df.shape

(106823, 21)

### Checkt the Types

In [4]:
gas_prices_brazil_df.dtypes

Unnamed: 0                         int64
DATA INICIAL                      object
DATA FINAL                        object
REGIÃO                            object
ESTADO                            object
PRODUTO                           object
NÚMERO DE POSTOS PESQUISADOS       int64
UNIDADE DE MEDIDA                 object
PREÇO MÉDIO REVENDA              float64
DESVIO PADRÃO REVENDA            float64
PREÇO MÍNIMO REVENDA             float64
PREÇO MÁXIMO REVENDA             float64
MARGEM MÉDIA REVENDA              object
COEF DE VARIAÇÃO REVENDA         float64
PREÇO MÉDIO DISTRIBUIÇÃO          object
DESVIO PADRÃO DISTRIBUIÇÃO        object
PREÇO MÍNIMO DISTRIBUIÇÃO         object
PREÇO MÁXIMO DISTRIBUIÇÃO         object
COEF DE VARIAÇÃO DISTRIBUIÇÃO     object
MÊS                                int64
ANO                                int64
dtype: object

### Info Dataframe

In [5]:
gas_prices_brazil_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     106823 non-null  int64
 1   DATA INICIAL                   106823 non-null  object
 2   DATA FINAL                     106823 non-null  object
 3   REGIÃO                         106823 non-null  object
 4   ESTADO                         106823 non-null  object
 5   PRODUTO                        106823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 7   UNIDADE DE MEDIDA              106823 non-null  object
 8   PREÇO MÉDIO REVENDA            106823 non-null  float64
 9   DESVIO PADRÃO REVENDA          106823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           106823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 12  MARGEM MÉDIA REVENDA           106823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 19  MÊS                            106823 non-null  int64
 20  ANO                            106823 non-null  int64
dtypes: float64(5), int64(4), object(12)
memory usage: 17.1+ MB

### Visualize the fifth intances

In [6]:
gas_prices_brazil_df.head()

   Unnamed: 0 DATA INICIAL  DATA FINAL  ... COEF DE VARIAÇÃO DISTRIBUIÇÃO MÊS   ANO
0           0   2004-05-09  2004-05-15  ...                         0.133   5  2004
1           1   2004-05-09  2004-05-15  ...                         0.115   5  2004
2           2   2004-05-09  2004-05-15  ...                         0.098   5  2004
3           3   2004-05-09  2004-05-15  ...                         0.143   5  2004
4           4   2004-05-09  2004-05-15  ...                         0.082   5  2004

[5 rows x 21 columns]

### Describe statiscal

In [7]:
gas_prices_brazil_df.describe()

         Unnamed: 0  NÚMERO DE POSTOS PESQUISADOS  ...            MÊS            ANO
count  106823.00000                 106823.000000  ...  106823.000000  106823.000000
mean    53411.00000                    233.770976  ...       6.484006    2011.802271
std     30837.28824                    403.282519  ...       3.443391       4.391530
min         0.00000                      1.000000  ...       1.000000    2004.000000
25%     26705.50000                     42.000000  ...       4.000000    2008.000000
50%     53411.00000                    104.000000  ...       6.000000    2012.000000
75%     80116.50000                    243.000000  ...       9.000000    2016.000000
max    106822.00000                   4167.000000  ...      12.000000    2019.000000

[8 rows x 9 columns]

### Select multiple Columns

In [8]:
columns_gas_prices_brazil_df = gas_prices_brazil_df.columns.to_list()
columns_gas_prices_brazil_df

['Unnamed: 0',
 'DATA INICIAL',
 'DATA FINAL',
 'REGIÃO',
 'ESTADO',
 'PRODUTO',
 'NÚMERO DE POSTOS PESQUISADOS',
 'UNIDADE DE MEDIDA',
 'PREÇO MÉDIO REVENDA',
 'DESVIO PADRÃO REVENDA',
 'PREÇO MÍNIMO REVENDA',
 'PREÇO MÁXIMO REVENDA',
 'MARGEM MÉDIA REVENDA',
 'COEF DE VARIAÇÃO REVENDA',
 'PREÇO MÉDIO DISTRIBUIÇÃO',
 'DESVIO PADRÃO DISTRIBUIÇÃO',
 'PREÇO MÍNIMO DISTRIBUIÇÃO',
 'PREÇO MÁXIMO DISTRIBUIÇÃO',
 'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
 'MÊS',
 'ANO']

In [9]:
 interess_columns_gas_prices_brazil_df  = ['REGIÃO', 'ESTADO', 'PRODUTO','NÚMERO DE POSTOS PESQUISADOS', 'COEF DE VARIAÇÃO REVENDA','PREÇO MÉDIO REVENDA','COEF DE VARIAÇÃO DISTRIBUIÇÃO', 'PREÇO MÉDIO DISTRIBUIÇÃO',  'DATA INICIAL', 'DATA FINAL','MÊS', 'ANO' ]

In [10]:
interess_gas_prices_brazil_df = gas_prices_brazil_df[interess_columns_gas_prices_brazil_df]

interess_gas_prices_brazil_df.head()

         REGIÃO              ESTADO           PRODUTO  ...  DATA FINAL  MÊS   ANO
0  CENTRO OESTE    DISTRITO FEDERAL  ETANOL HIDRATADO  ...  2004-05-15    5  2004
1  CENTRO OESTE               GOIAS  ETANOL HIDRATADO  ...  2004-05-15    5  2004
2  CENTRO OESTE         MATO GROSSO  ETANOL HIDRATADO  ...  2004-05-15    5  2004
3  CENTRO OESTE  MATO GROSSO DO SUL  ETANOL HIDRATADO  ...  2004-05-15    5  2004
4      NORDESTE             ALAGOAS  ETANOL HIDRATADO  ...  2004-05-15    5  2004

[5 rows x 12 columns]

### Select the last Five line

In [11]:
interess_gas_prices_brazil_df[-6:-1]

          REGIÃO               ESTADO PRODUTO  ...  DATA FINAL  MÊS   ANO
106817   SUDESTE       RIO DE JANEIRO     GNV  ...  2019-06-29    6  2019
106818  NORDESTE  RIO GRANDE DO NORTE     GNV  ...  2019-06-29    6  2019
106819       SUL    RIO GRANDE DO SUL     GNV  ...  2019-06-29    6  2019
106820       SUL       SANTA CATARINA     GNV  ...  2019-06-29    6  2019
106821   SUDESTE            SAO PAULO     GNV  ...  2019-06-29    6  2019

[5 rows x 12 columns]

### Select loc

In [12]:
nordeste_region_filter = interess_gas_prices_brazil_df['REGIÃO'] == "NORDESTE"
nordeste_region_filter

0         False
1         False
2         False
3         False
4          True
          ...
106818     True
106819    False
106820    False
106821    False
106822     True
Name: REGIÃO, Length: 106823, dtype: bool

In [13]:
nordeste_region_filter = interess_gas_prices_brazil_df['REGIÃO'] == "NORDESTE"
pernambuco_estado_filter = interess_gas_prices_brazil_df['ESTADO'] == "PERNAMBUCO"
ano_filter = interess_gas_prices_brazil_df['ANO'] == 2019

### Select nordest region_filter

In [14]:
interess_gas_prices_brazil_df.loc[nordeste_region_filter,interess_columns_gas_prices_brazil_df]

          REGIÃO               ESTADO           PRODUTO  ...  DATA FINAL  MÊS   ANO
4       NORDESTE              ALAGOAS  ETANOL HIDRATADO  ...  2004-05-15    5  2004
5       NORDESTE                BAHIA  ETANOL HIDRATADO  ...  2004-05-15    5  2004
6       NORDESTE                CEARA  ETANOL HIDRATADO  ...  2004-05-15    5  2004
7       NORDESTE             MARANHAO  ETANOL HIDRATADO  ...  2004-05-15    5  2004
8       NORDESTE              PARAIBA  ETANOL HIDRATADO  ...  2004-05-15    5  2004
...          ...                  ...               ...  ...         ...  ...   ...
106810  NORDESTE                CEARA               GNV  ...  2019-06-29    6  2019
106814  NORDESTE              PARAIBA               GNV  ...  2019-06-29    6  2019
106816  NORDESTE           PERNAMBUCO               GNV  ...  2019-06-29    6  2019
106818  NORDESTE  RIO GRANDE DO NORTE               GNV  ...  2019-06-29    6  2019
106822  NORDESTE              SERGIPE               GNV  ...  2019-06-29    6  2019

[36869 rows x 12 columns]

### Select Pernambuco state filter

In [15]:
interess_gas_prices_brazil_df.loc[pernambuco_estado_filter,interess_columns_gas_prices_brazil_df]

          REGIÃO      ESTADO           PRODUTO  ...  DATA FINAL  MÊS   ANO
9       NORDESTE  PERNAMBUCO  ETANOL HIDRATADO  ...  2004-05-15    5  2004
36      NORDESTE  PERNAMBUCO  ETANOL HIDRATADO  ...  2004-05-22    5  2004
63      NORDESTE  PERNAMBUCO  ETANOL HIDRATADO  ...  2004-05-29    5  2004
90      NORDESTE  PERNAMBUCO  ETANOL HIDRATADO  ...  2004-06-05    5  2004
117     NORDESTE  PERNAMBUCO  ETANOL HIDRATADO  ...  2004-06-12    6  2004
...          ...         ...               ...  ...         ...  ...   ...
106716  NORDESTE  PERNAMBUCO       ÓLEO DIESEL  ...  2019-06-29    6  2019
106743  NORDESTE  PERNAMBUCO   ÓLEO DIESEL S10  ...  2019-06-29    6  2019
106770  NORDESTE  PERNAMBUCO    GASOLINA COMUM  ...  2019-06-29    6  2019
106797  NORDESTE  PERNAMBUCO               GLP  ...  2019-06-29    6  2019
106816  NORDESTE  PERNAMBUCO               GNV  ...  2019-06-29    6  2019

[4262 rows x 12 columns]

### Select 2019 Year Filter

In [16]:
interess_gas_prices_brazil_df.loc[ano_filter,interess_columns_gas_prices_brazil_df]

          REGIÃO               ESTADO           PRODUTO  ...  DATA FINAL  MÊS   ANO
103069     NORTE                 ACRE  ETANOL HIDRATADO  ...  2019-01-12    1  2019
103070  NORDESTE              ALAGOAS  ETANOL HIDRATADO  ...  2019-01-12    1  2019
103071     NORTE             AMAZONAS  ETANOL HIDRATADO  ...  2019-01-12    1  2019
103072  NORDESTE                BAHIA  ETANOL HIDRATADO  ...  2019-01-12    1  2019
103073  NORDESTE                CEARA  ETANOL HIDRATADO  ...  2019-01-12    1  2019
...          ...                  ...               ...  ...         ...  ...   ...
106818  NORDESTE  RIO GRANDE DO NORTE               GNV  ...  2019-06-29    6  2019
106819       SUL    RIO GRANDE DO SUL               GNV  ...  2019-06-29    6  2019
106820       SUL       SANTA CATARINA               GNV  ...  2019-06-29    6  2019
106821   SUDESTE            SAO PAULO               GNV  ...  2019-06-29    6  2019
106822  NORDESTE              SERGIPE               GNV  ...  2019-06-29    6  2019

[3754 rows x 12 columns]

### Check Unique Values

### Estado

In [17]:
interess_gas_prices_brazil_df.ESTADO.unique()

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

In [18]:
len(interess_gas_prices_brazil_df.ESTADO.unique())

27

### Region

In [19]:
len(interess_gas_prices_brazil_df.REGIÃO.unique())

5

In [20]:
interess_gas_prices_brazil_df.REGIÃO.unique()

array(['CENTRO OESTE', 'NORDESTE', 'NORTE', 'SUDESTE', 'SUL'],
      dtype=object)

### Product

In [21]:
len(interess_gas_prices_brazil_df.PRODUTO.unique())

6

In [22]:
interess_gas_prices_brazil_df.PRODUTO.unique()

array(['ETANOL HIDRATADO', 'GASOLINA COMUM', 'GLP', 'GNV', 'ÓLEO DIESEL',
       'ÓLEO DIESEL S10'], dtype=object)

### By Year

In [23]:
len(interess_gas_prices_brazil_df.ANO.unique())

16

In [24]:
interess_gas_prices_brazil_df.ANO.unique()

array([2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019])

## Select Mean General

In [25]:
TAM = len(interess_gas_prices_brazil_df)

### Número de Postos Pesquisados Column

In [26]:
interess_gas_prices_brazil_df['NÚMERO DE POSTOS PESQUISADOS'].sum()/TAM

233.77097628787809

### Coef de Variação Revenda Column

In [27]:
interess_gas_prices_brazil_df['COEF DE VARIAÇÃO REVENDA'].sum()/TAM

0.045417793920784856

### Preço Media Revenda Column

In [28]:
interess_gas_prices_brazil_df['PREÇO MÉDIO REVENDA'].sum()/TAM

10.870780431180549

Coef de Variação Distribuição Column

In [29]:
interess_gas_prices_brazil_df['COEF DE VARIAÇÃO DISTRIBUIÇÃO'].dtype

dtype('O')

In [30]:
interess_gas_prices_brazil_df['COEF DE VARIAÇÃO DISTRIBUIÇÃO'] = interess_gas_prices_brazil_df['COEF DE VARIAÇÃO DISTRIBUIÇÃO'].apply(lambda x : 0 if x == '-' else x)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
interess_gas_prices_brazil_df['COEF DE VARIAÇÃO DISTRIBUIÇÃO'] = pd.to_numeric(interess_gas_prices_brazil_df['COEF DE VARIAÇÃO DISTRIBUIÇÃO'], downcast='float')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
interess_gas_prices_brazil_df['COEF DE VARIAÇÃO DISTRIBUIÇÃO'].dtype

dtype('O')

In [36]:
interess_gas_prices_brazil_df['COEF DE VARIAÇÃO DISTRIBUIÇÃO'].sum()/TAM

0.04515205826753134

PREÇO MÉDIO DISTRIBUIÇÃO

In [37]:
interess_gas_prices_brazil_df['PREÇO MÉDIO DISTRIBUIÇÃO'] = interess_gas_prices_brazil_df['PREÇO MÉDIO DISTRIBUIÇÃO'].apply(lambda x : 0 if x == '-' else x)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
interess_gas_prices_brazil_df['PREÇO MÉDIO DISTRIBUIÇÃO'] = pd.to_numeric(interess_gas_prices_brazil_df['PREÇO MÉDIO DISTRIBUIÇÃO'], downcast='float')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
interess_gas_prices_brazil_df['PREÇO MÉDIO DISTRIBUIÇÃO'].dtype

dtype('float32')

In [40]:
interess_gas_prices_brazil_df['PREÇO MÉDIO DISTRIBUIÇÃO'].sum()/TAM

8.285580469561799

In [41]:
interess_gas_prices_brazil_df['PREÇO MÉDIO DISTRIBUIÇÃO'].mean()

8.285548210144043

## Select Mean by Region

In [42]:

coef_med_columns = ['NÚMERO DE POSTOS PESQUISADOS', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO','PREÇO MÉDIO DISTRIBUIÇÃO','COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO REVENDA']

### Nordeste

In [43]:
temp = interess_gas_prices_brazil_df[(interess_gas_prices_brazil_df['REGIÃO'] == 'NORDESTE') & (interess_gas_prices_brazil_df['ANO'] == 2019)][coef_med_columns].mean().transpose().to_frame()
temp.columns = ["Media"]
temp

                                   Media
NÚMERO DE POSTOS PESQUISADOS   86.675115
COEF DE VARIAÇÃO DISTRIBUIÇÃO   0.034823
PREÇO MÉDIO DISTRIBUIÇÃO       11.689772
COEF DE VARIAÇÃO REVENDA        0.040197
PREÇO MÉDIO REVENDA            14.858909

### Norte

In [44]:
temp = interess_gas_prices_brazil_df[(interess_gas_prices_brazil_df['REGIÃO'] == 'NORTE') & (interess_gas_prices_brazil_df['ANO'] == 2019)][coef_med_columns].mean().transpose().to_frame()
temp.columns = ["Media"]
temp

                                   Media
NÚMERO DE POSTOS PESQUISADOS   45.138603
COEF DE VARIAÇÃO DISTRIBUIÇÃO   0.036363
PREÇO MÉDIO DISTRIBUIÇÃO       15.483941
COEF DE VARIAÇÃO REVENDA        0.049937
PREÇO MÉDIO REVENDA            18.927386

### Centro-Oeste Region

In [45]:
temp = interess_gas_prices_brazil_df[(interess_gas_prices_brazil_df['REGIÃO'] == 'CENTRO OESTE') & (interess_gas_prices_brazil_df['ANO'] == 2019)][coef_med_columns].mean().transpose().to_frame()
temp.columns = ["Media"]
temp

                                    Media
NÚMERO DE POSTOS PESQUISADOS   105.888679
COEF DE VARIAÇÃO DISTRIBUIÇÃO    0.045958
PREÇO MÉDIO DISTRIBUIÇÃO        13.791260
COEF DE VARIAÇÃO REVENDA         0.048194
PREÇO MÉDIO REVENDA             17.811030

### Sudeste Region

In [46]:
temp = interess_gas_prices_brazil_df[(interess_gas_prices_brazil_df['REGIÃO'] == 'SUDESTE') & (interess_gas_prices_brazil_df['ANO'] == 2019)][coef_med_columns].mean().transpose().to_frame()
temp.columns = ["Media"]
temp

                                    Media
NÚMERO DE POSTOS PESQUISADOS   464.586667
COEF DE VARIAÇÃO DISTRIBUIÇÃO    0.042948
PREÇO MÉDIO DISTRIBUIÇÃO        10.787279
COEF DE VARIAÇÃO REVENDA         0.054463
PREÇO MÉDIO REVENDA             14.125663

### Sul Region

In [47]:
temp = interess_gas_prices_brazil_df[(interess_gas_prices_brazil_df['REGIÃO'] == 'SUL') & (interess_gas_prices_brazil_df['ANO'] == 2019)][coef_med_columns].mean().transpose().to_frame()
temp.columns = ["Media"]
temp

                                    Media
NÚMERO DE POSTOS PESQUISADOS   221.485523
COEF DE VARIAÇÃO DISTRIBUIÇÃO    0.048385
PREÇO MÉDIO DISTRIBUIÇÃO        11.039557
COEF DE VARIAÇÃO REVENDA         0.049693
PREÇO MÉDIO REVENDA             14.632864

### Export Format Dataset

In [49]:
 export_columns_gas_prices_brazil_df  = ['REGIÃO', 'ESTADO', 'PRODUTO','NÚMERO DE POSTOS PESQUISADOS','PREÇO MÉDIO REVENDA', 'COEF DE VARIAÇÃO REVENDA','PREÇO MÉDIO DISTRIBUIÇÃO','COEF DE VARIAÇÃO DISTRIBUIÇÃO',  'DATA INICIAL', 'DATA FINAL','MÊS', 'ANO', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA', 'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA' , 'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO', 'PREÇO MÁXIMO DISTRIBUIÇÃO', 'UNIDADE DE MEDIDA']

In [50]:
export_gas_prices_brazil_df = gas_prices_brazil_df[export_columns_gas_prices_brazil_df]

In [51]:
export_gas_prices_brazil_df.head()

         REGIÃO              ESTADO  ... PREÇO MÁXIMO DISTRIBUIÇÃO  UNIDADE DE MEDIDA
0  CENTRO OESTE    DISTRITO FEDERAL  ...                    0.9666               R$/l
1  CENTRO OESTE               GOIAS  ...                      1.05               R$/l
2  CENTRO OESTE         MATO GROSSO  ...                     1.161               R$/l
3  CENTRO OESTE  MATO GROSSO DO SUL  ...                   1.22242               R$/l
4      NORDESTE             ALAGOAS  ...                    1.0317               R$/l

[5 rows x 20 columns]

In [52]:
export_gas_prices_brazil_df.rename(str.lower, axis='columns').columns

Index(['região', 'estado', 'produto', 'número de postos pesquisados',
       'preço médio revenda', 'coef de variação revenda',
       'preço médio distribuição', 'coef de variação distribuição',
       'data inicial', 'data final', 'mês', 'ano', 'desvio padrão revenda',
       'preço mínimo revenda', 'preço máximo revenda', 'margem média revenda',
       'desvio padrão distribuição', 'preço mínimo distribuição',
       'preço máximo distribuição', 'unidade de medida'],
      dtype='object')

In [53]:
morm_columns = ['regiao', 'estado', 'produto', 'numero_posto_pesquisado',
       'preco_medio_revenda', 'coef_variacao_revenda',
       'preco_medio_distribuicao', 'coef_variacao_distribuicao',
       'data_inicial', 'data_final', 'mes', 'ano', 'desvio_padrao_revenda',
       'preco_minimo_revenda', 'preço_maximo_revenda', 'margem_media_revenda',
       'desvio_padrao_distribuicao', 'preco_minimo_distribuicao',
       'preço_maximo_distribuicao', 'unidade_de_medida']

In [54]:
export_gas_prices_brazil_df.columns = morm_columns
export_gas_prices_brazil_df.head()

         regiao              estado  ... preço_maximo_distribuicao  unidade_de_medida
0  CENTRO OESTE    DISTRITO FEDERAL  ...                    0.9666               R$/l
1  CENTRO OESTE               GOIAS  ...                      1.05               R$/l
2  CENTRO OESTE         MATO GROSSO  ...                     1.161               R$/l
3  CENTRO OESTE  MATO GROSSO DO SUL  ...                   1.22242               R$/l
4      NORDESTE             ALAGOAS  ...                    1.0317               R$/l

[5 rows x 20 columns]

In [55]:
export_gas_prices_brazil_df.to_csv('formated_gas_prices_brazil.csv')